body {
    font-family: Arial;
    color: white;
    margin: 0px;
}

.navbar {
    background-color: #3A5168;    
}


h3 {
    color: #3A5168 !important;
}

.card {
    margin: 0px 5px 20px 5px;
}

.form-inline .form-group {
    margin-bottom: 16px !important;
    margin-right: 10px;
}

#sel1 {
    margin-top: -16px;
    width: 35% !important;
}

textarea#textareaReservaInformacoes {
    border-radius: 10px !important;
}

#reserva {
    padding: 6px 0px 6px 0px;
    margin: 0px 0px 0px 0px;
}

#colcolumn1 {
    padding-left: 0px;
    padding-right: 0px;
}

.btn {
    margin-left: 20px;
    width: 150px;
    background-color: #3A5168;
    color: white;
    border-radius: 100px !important;
}

.checkbox {
    color: #3A5168;
}

.form-control {
    width: 100% !important;
    border-radius: 100px !important;
}

.col-centraliza {
    margin: auto;
    margin-top: 50px;
}

.card-text {
    text-align: justify;
}

footer {
    background-color: #3A5168 !important;
    color: white;
    margin-top: 25px;
    height: 280px;
}

.panel-price {
    background-color: #34495E;
    height: 30px;
    text-align: center;
    line-height: 35px;
}

.panel.panel-default {
    background-color: #34495E;
    height: 250px;
}

[class*="col-"] {
    width: 100%;
}
