body {
    color: white;
    margin: 0px;
}

textarea {
    border-radius: 15px !important; 
}

.navbar {
    background-color: #34495E;
}

.navbar-logo {
    height: 45px;
}

.nav-link {
    text-transform: uppercase;
    font-weight: bold;
}

section h2 {
    padding: 20px 0px;
    margin-bottom: 25px;
    text-transform: uppercase;
    background-color: #3A5168;
    color: white;
    height: 100%;
    text-align: center;
    font-weight: bold;
}

ul {
    padding-left: 20px;
}

.card-body {
    padding-bottom: 0.5em;
}

.card h5 {
    font-weight: bold;
}

.card {
    width: 100%;
    margin: 10px 0;
}

.panel-price {
    background-color: #34495E;
    height: 30px;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
}

.form-inline .form-group {
    margin-bottom: 16px !important;
    margin-right: 10px;
}

#sel1 {
    margin-top: -16px;
    width: 35% !important;
}

#reserva {
    padding: 6px 0px 6px 0px;
    margin: 0px 0px 0px 0px;
}

#colcolumn1 {
    padding-left: 0px;
    padding-right: 0px;
}

.btn {
    background-color: #3A5168;
    color: white;
    min-width: 150px;
    border-radius: 100px !important;
    text-transform: uppercase;
    font-weight: bold !important;
}

.checkbox {
    color: #3A5168;
}

input {
    width: 100% !important;
    border-radius: 100px !important;
}

.col-center {
    margin: auto;
}

section {
    padding-bottom: 15px;
}

footer {
    background-color: #34495E;
    color: white;
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

    footer h5 {
        font-weight: bold;
        margin-bottom: 15px;
    }
