body {
    font-family: Arial;
    color: white;
    margin: 0px;
}

footer {
    background-color: #3A5168 !important;
    padding: 0px 10px;
    color: white;
}

.panel.panel-default {
    background-color: #34495E;
    height: 250px;
}

[class*="col-"] {
    width: 100%;
}

.grid-container {
    display: inline-flex;
    grid-gap: 10px 10px;
    grid-template-columns: auto;
    background-color: white;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #dbdbdb;
    padding: 0px 0px 0px 0px;
    font-size: 30px;
    text-align: center;
    width: 250px;
}

    .grid-item h5 {
        width: 100%;
        text-align: center;
        min-height: 20px;
        font-size: 0.5em;
        display: block;
        margin: 0 auto;
        background-color: #34495E;
    }

    .grid-item picture img {
        width: 150px;
    }
