<!DOCTYPE html>
<html lang=pt-br>
<head>
    <title>BurgerShack</title>
    <meta charset=UTF-8> <!-- ISO-8859-1 -->
    <meta name=viewport content="width=device-width, initial-scale=1.0"> <!-- Para não travar o zoom -->
    <meta name=description content=""> <!-- No máximo 360 caracteres, pode haver falhas com mais de 160 caracteres-->
    <meta name=keywords content=""> <!-- Opcional -->
    <meta name=author content="Caio Silva and vitorrdgs">
    <meta name=application-name content="BurgerShack">
    <!-- favicon, ícone que será exibido no navegador. Resolução: 8x8 - 16x16 - 32x32px com extensão .ico -->
    <link rel="shortcut icon" href="" type="image/x-icon">
    <!-- CSS PADRÃO -->
    <link rel="stylesheet" type="text/css" href="~/Resources/css/default.css">
    <link rel="stylesheet" type="text/css" href="~/Resources/css/media-queries.css">
    <link rel="stylesheet" type="text/css" href="~/Resources/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Resources/css/bootstrap/bootstrap.min.css">

    <!-- Telas Responsivas -->
    <link rel=stylesheet media="screen and (max-width:480px)" href="~/Resources/css/style480.css">
    <link rel=stylesheet media="screen and (min-width:481px) and (max-width:768px)" href="~/Resources/css/style768.css">
    <link rel=stylesheet media="screen and (min-width:769px) and (max-width:1024px)" href="~/Resources/css/style1024.css">
    <link rel=stylesheet media="screen and (min-width:1025px)" href="~/Resources/css/style1025.css">

    <!-- Bootstrap-->
    <script src="~/Resources/js/jquery-3.2.1.min.js"></script>
    <script src="~/Resources/js/popper.min.js"></script>
    <script src="~/Resources/js/bootstrap/bootstrap.min.js"></script>
</head>
<body>
    <!-- CONTEÚDO -->
    <div id=container>
        <!-- CABEÇALHO -->
        <header>
            <div class="container">
                <img src="Resources/img/logo.png" />
                <div class="header-right">
                    <a class="active" href="index.cshtml">Início</a>
                    <a href="#catalogo">Catálogo</a>
                    <a href="#sobre">Sobre</a>
                    <a href="~/Pages/acessar.cshtml">Acessar</a>
                </div>
            </div>
        </header>

        <!-- SLIDES -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/Resources/img/slider/slider-1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Resources/img/slider/slider-1.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Resources/img/slider/slider-1.png" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Retroceder</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Avançar</span>
            </a>
        </div>
        <br />

        <!-- GRID DE PRODUTOS -->
        <section id="catalogo" style="margin-left: 75px;">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="Resources/img/products/Shack Gourmet - 286x180.png" alt="Shack Gourmet">
                <div class="card-body">
                    <h5 class="card-title">Shack Gourmet</h5>
                    <p class="card-text">● Alface, Tomate e Cebola <br /> ● Frango <br /> ● Bacon <br /> ● Cheddar e Barbecue <br /> ● Hambúrguer</p>
                </div>
                <div class="panel-price">
                    <div class="panel-body"><b>R$: 19,90</b></div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="Resources/img/products/Shack Gourmet - 286x180.png" alt="Shack Gourmet">
                <div class="card-body">
                    <h5 class="card-title">Shack Gourmet</h5>
                    <p class="card-text">● Alface, Tomate e Cebola <br /> ● Frango <br /> ● Bacon <br /> ● Cheddar e Barbecue <br /> ● Hambúrguer</p>
                </div>
                <div class="panel-price">
                    <div class="panel-body"><b>R$: 19,90</b></div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="Resources/img/products/Shack Gourmet - 286x180.png" alt="Shack Gourmet">
                <div class="card-body">
                    <h5 class="card-title">Shack Gourmet</h5>
                    <p class="card-text">● Alface, Tomate e Cebola <br /> ● Frango <br /> ● Bacon <br /> ● Cheddar e Barbecue <br /> ● Hambúrguer</p>
                </div>
                <div class="panel-price">
                    <div class="panel-body"><b>R$: 19,90</b></div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="Resources/img/products/Shack Gourmet - 286x180.png" alt="Shack Gourmet">
                <div class="card-body">
                    <h5 class="card-title">Shack Gourmet</h5>
                    <p class="card-text">● Alface, Tomate e Cebola <br /> ● Frango <br /> ● Bacon <br /> ● Cheddar e Barbecue <br /> ● Hambúrguer</p>
                </div>
                <div class="panel-price">
                    <div class="panel-body"><b>R$: 19,90</b></div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="Resources/img/products/Shack Gourmet - 286x180.png" alt="Shack Gourmet">
                <div class="card-body">
                    <h5 class="card-title">Shack Gourmet</h5>
                    <p class="card-text">● Alface, Tomate e Cebola <br /> ● Frango <br /> ● Bacon <br /> ● Cheddar e Barbecue <br /> ● Hambúrguer</p>
                </div>
                <div class="panel-price">
                    <div class="panel-body"><b>R$: 19,90</b></div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="Resources/img/products/Shack Gourmet - 286x180.png" alt="Shack Gourmet">
                <div class="card-body">
                    <h5 class="card-title">Shack Gourmet</h5>
                    <p class="card-text">● Alface, Tomate e Cebola <br /> ● Frango <br /> ● Bacon <br /> ● Cheddar e Barbecue <br /> ● Hambúrguer</p>
                </div>
                <div class="panel-price">
                    <div class="panel-body"><b>R$: 19,90</b></div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="Resources/img/products/Shack Gourmet - 286x180.png" alt="Shack Gourmet">
                <div class="card-body">
                    <h5 class="card-title">Shack Gourmet</h5>
                    <p class="card-text">● Alface, Tomate e Cebola <br /> ● Frango <br /> ● Bacon <br /> ● Cheddar e Barbecue <br /> ● Hambúrguer</p>
                </div>
                <div class="panel-price">
                    <div class="panel-body"><b>R$: 19,90</b></div>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="Resources/img/products/Shack Gourmet - 286x180.png" alt="Shack Gourmet">
                <div class="card-body">
                    <h5 class="card-title">Shack Gourmet</h5>
                    <p class="card-text">● Alface, Tomate e Cebola <br /> ● Frango <br /> ● Bacon <br /> ● Cheddar e Barbecue <br /> ● Hambúrguer</p>
                </div>
                <div class="panel-price">
                    <div class="panel-body"><b>R$: 19,90</b></div>
                </div>
            </div>
        </section>

        <section id="sobre">
            <!-- FEEDBACK SLIDES -->
            <div class="panel panel-default">
                <div id="text-carousel" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="row">
                        <div class="col-xs-offset-3 col-xs-6">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="carousel-content">
                                        <div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="carousel-content">
                                        <div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="carousel-content">
                                        <div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#text-carousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#text-carousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </section>

        <!-- FEEDBACK SEND-->
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-centraliza">
                    <form>
                        <div class="form-group">
                            <input type="text" class="w-100 p-3, form-control" id="inputfirstName" placeholder="Primeiro Nome">
                        </div>
                        <div class="form-group">
                            <input type="text" class="w-100 p-3, form-control" id="inputSecondName" placeholder="Segundo Nome">
                        </div>
                        <div class="form-group">
                            <input type="email" class="w-100 p-3 form-control" id="inputEmail" placeholder="Email" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">Nós nunca vamos compartilhar seu e-mail com ninguém.</small>>
                        </div>
                        <div class="form-group">
                            <textarea class="w-100 p-3, form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Deixe seu feedback"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" style="width:100%">Enviar</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- RODAPÉ -->
        <footer></footer>
    </div>
</body>
</html>