<!DOCTYPE html>
<html lang=pt-br>
<head>
    <title>BurgerShack - Acessar</title>
    <meta charset=UTF-8> <!-- ISO-8859-1 -->
    <meta name=viewport content="width=device-width, initial-scale=1.0"> <!-- Para não travar o zoom -->
    <meta name=description content=""> <!-- No máximo 360 caracteres, pode haver falhas com mais de 160 caracteres-->
    <meta name=keywords content=""> <!-- Opcional -->
    <meta name=author content="Caio Silva and vitorrdgs">
    <meta name=application-name content="BurgerShack">
    <!-- favicon, ícone que será exibido no navegador. Resolução: 8x8 - 16x16 - 32x32px com extensão .ico -->
    <link rel="shortcut icon" href="" type="image/x-icon">
    <!-- CSS PADRÃO -->
    <link rel="stylesheet" type="text/css" href="~/Resources/css/default.css">
    <link rel="stylesheet" type="text/css" href="~/Resources/css/media-queries.css">
    <link rel="stylesheet" type="text/css" href="~/Resources/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Resources/css/bootstrap/bootstrap.min.css">

    <!-- Telas Responsivas -->
    <link rel=stylesheet media="screen and (max-width:480px)" href="~/Resources/css/style480.css">
    <link rel=stylesheet media="screen and (min-width:481px) and (max-width:768px)" href="~/Resources/css/style768.css">
    <link rel=stylesheet media="screen and (min-width:769px) and (max-width:1024px)" href="~/Resources/css/style1024.css">
    <link rel=stylesheet media="screen and (min-width:1025px)" href="~/Resources/css/style1025.css">

    <!-- Bootstrap-->
    <script src="~/Resources/js/jquery-3.2.1.min.js"></script>
    <script src="~/Resources/js/popper.min.js"></script>
    <script src="~/Resources/js/bootstrap/bootstrap.min.js"></script>
</head>
<body>
    <!-- CABEÇALHO -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="~/index.cshtml">
                    <img src="~/Resources/img/logo.png" width="100" height="35" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="~/index.cshtml">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/index.cshtml#catalogo">Catálogo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/index.cshtml#sobre">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Pages/acessar.cshtml">Acessar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-centraliza">
                <h3>Já sou resgistrado</h3>
                <br /><br />
                <form role="form" action="~/Pages/perfil.cshtml" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputLoginCPF" placeholder="CPF" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputLoginSenha" placeholder="Senha" />
                    </div>
                    <div class="checkbox float-right">
                        <label>
                            <input type="checkbox" /> Lembrar Senha
                            <button type="submit" class="btn btn-default">Login</button>
                        </label>
                    </div>
                </form>
                <a href="~/Pages/cadastro.cshtml">
                    <button class="btn btn-default">Cadastrar-se</button>
                </a>
            </div>
        </div>
    </div>

    <!-- RODAPÉ -->
    <footer>
        <div class="container">
            <br /><br />
            <div class="row">
                <div class="col-sm-4">
                    <ul>
                        <b>Sobre o Burger Shack</b></br></br>
                        <p>O Burguer Shack é um ambiente de refeição, temos promoções e eventos com frequêcia, há um local para comer no local, podendo reservar mesas atráves do aplicativo, web e por telefone</p>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul>
                        <b>Contatos</b></br></br>
                        <p>facebook.com/burguershack</p>
                        <p>(11) 4998-5255</p>
                        <p>sac@burgershack.com</p>
                        <p>Avenida Pompéia nº 50, São Paulo - SP</p>

                    </ul>
                </div>
                <div class="col-md-4">
                    <b>Localização</b>
                    <img src="~/Resources/img/mapa.png" alt="Nossa Localização" class="img-thumbnail img-responsive">
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
